@model CheeseMVC.ViewModels.AddMenuItemViewModel

<h1>Add Menu Item</h1>

<form asp-controller="Menu" asp-action="AddItem" method="post">

    <div class="form-group">
        <label asp-for="CheeseID">Cheese</label>
        <select asp-for="CheeseID" asp-items="Model.Cheeses"></select>
        <input type="hidden" name="MenuID" value="@Model.Menu.ID" />
        <span asp-validation-for="CheeseID"></span>

        <input type="submit" value="Add Cheese Item to Menu" />
    </div>

</form>